.title_body{
    padding-top: 2%;
    font-family:georgia;
    font-style:italic;
    color: rgb(189, 195, 253);
}
.side_title {
    text-align: center;
    color: rgb(152, 162, 255);
}
.web_title {
    background-color:rgb(170, 178, 248); 
    font-size: 25px; 
    padding: 10px ;
}
.img_body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .img_side{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 3px;
}
.img_side_main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 3px;
}
.comp_pic_title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px;
color: rgb(145, 216, 248);
}
.img_comp_body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.body_text{
    font-family:'Times New Roman', Times, serif ;
    font-size: 30px ; 
    text-align:justify;
}


 /* adding some changes on font-size and font-color for small screen adjustments */
@media(max-width:760px)
{
    .title_body{
        padding-top: 2%;
        font-family:georgia;
        font-style:italic;
        color: rgb(163, 172, 253);
    }

    .side_title {
            text-align: center;
            color: rgb(163, 172, 253);
    }
    .web_title {
            background-color:rgb(161, 170, 252); 
            font-size: 20px; 
            padding: 10px ;
    }
    .comp_pic_title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding: 20px;
    color: rgb(131, 211, 248);
    }
    .body_text{
        font-family:'Times New Roman', Times, serif ;
        font-size: 20px ; 
        text-align:justify;
    }
}